body {
    margin: 0 auto;
    background-color: #f7f7f7;
    font-family: "Nunito Sans", sans-serif;
}
.header {
    background: url(../images/Rectangle-3.png);
    background-repeat: no-repeat;
    display: flex;
    flex: 1;
    max-width: 1920px;
    width: 100%;
    min-height: 854px;
    margin: 0 auto;
    margin-top: 34px;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgba(34, 34, 34, 0.64);
    background-repeat: no-repeat;
    max-width: 1920px;
    width: 100%;
    max-height: 820px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.contacts {
    position: absolute;
    top: 0;
    left: 0;
    background: #010101;
    max-width: 1920px;
    width: 100%;
    max-height: 52px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 16px 300px;
    gap: 48px;
    box-sizing: border-box;
    white-space: none;
}
.contacts-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: 0;
    padding: 0;
}
.phone {
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;
    max-width: 162px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.phone img {
    padding-right: 8px;
}
.email-to {
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.email-to img {
    margin: 0;
    padding: 0;
    padding-right: 8px;
}
.calling-to {
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #4f8ff0;
    text-decoration: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    min-height: 112px;
    background: rgba(1, 1, 1, 0.76);
    margin: 0;
    gap: 16px;
    padding: 30px 300px 28px;
    box-sizing: border-box;
}
.header-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 62px;
    margin: 0;
    padding: 0;
}
.law {
    font-weight: 900;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    color: #4f8ff0;
    padding: 0;
    padding-right: 36px;
    max-height: 42px;
    margin: 0;
    box-sizing: border-box;
}
.law a {
    text-decoration: none;
    color: #4f8ff0;
}
.law-comp {
    font-weight: 900;
    font-size: 20px;
    line-height: 150%;
    text-transform: lowercase;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}
.menu {
    max-width: 679px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 0;
    padding: 0;
}
.menu-row {
    max-width: 679px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.menu-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    list-style: none;
    text-decoration: none;
    white-space: nowrap;
    max-width: 123px;
}
.menu-item:hover {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #4f8ff0;
}
.services {
    display: flex; 
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1090px;
    min-height: 289px;
    height: 100%;
    gap: 8px;
    margin: 0 auto;
    padding: 150px 0 192px;
    box-sizing: border-box;
}
.services-item-row {
    font-weight: 300;
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    max-height: 45px;
    margin: 0 auto;
    padding: 0;
}
span {
    display: block;
    font-weight: 600;
    font-size: 56px;
    line-height: 150%;
    text-transform: uppercase;
    color: #4f8ff0;
    max-height: 84px;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.text-item {
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #fff; 
    min-height: 48px;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 38px;
    box-sizing: border-box;
}
.service-row {
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    max-width: 158px;
    width: 100%;
    min-height: 49px;
    background-color:  #4f8ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 43.5%;
    padding: 0;
}
.services>.service-row:hover {
    background-color: #fff;
    border: 1px solid #4f8ff0;
    color: #4f8ff0;
    transition: all 0.3s ease-in-out;
}
.icons {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 48px;
    padding: 0;
    padding-left: 12px;
    box-sizing: border-box;
}
.main {
    display: flex;
    flex-direction: column;
}
.container-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 72px 300px 88px;
    box-sizing: border-box;
    gap: 48px;
}
.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 920px;
    width: 100%;
    min-height: 131px;
    padding: 0;
    margin: 0;

}
.servises-item-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    box-sizing: border-box;
}
hr {
    width: 50px;
    min-height: 3px;
    background: #4f8ff0;
    border: 1px solid #4f8ff0;
    box-sizing: border-box;
    margin: 0 auto;
}
.servises-item-desc {
    font-size: 16px;
    text-transform: none;
    line-height: 120%;
    text-align: center;
    color: #222;
    display: flex;
    max-width: 920px;
    width: 100%;
    min-height: 38px;
    /* height: 100%; */
    margin: 0 auto;
    padding: 0;
    padding-top: 24px;
    box-sizing: border-box;
}
.adventages {
    display: flex; 
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.adventages-item {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    max-width: 1320px;
    max-height: 538px;
    gap: 24px;
    padding: 0;
    margin: 0;
}
.adventages-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 424px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    background: #fff;
    margin: 0;
    padding: 50px 32px 59px 20px;
    box-sizing: border-box;
    /* transition: all 0.3s ease-in-out; */
}
.adventages-row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 412px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    background: #fff;
    margin: 0;
    padding: 50px 32px 59px 20px;
    box-sizing: border-box;
}
/* .hover {
    transition: all 0.3s ease;
} */
.adventages-item-container svg path {
    margin: 0;
    padding: 0;
}
.adventages-row-container svg path {
    margin: 0;
    padding: 0;
}
.adventages-item-container:hover,
.adventages-row-container:hover {
    max-width: 424px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    box-sizing: border-box;
    background-color: #4f8ff0;
    color: #fff;
    padding: 50px 32px 59px 20px;
    /* transition: all 0.3s ease-in-out; */
}
.adventages-item-container:hover > .adventages-item-icon {
    background: url(../images/Hover-border.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #4f8ff0;
    min-width: 372px;
    width: 100%;
    min-height: 210px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.adventages-row-container:hover > .adventages-item-icon {
    background: url(../images/Hover-border.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #4f8ff0;
    min-width: 372px;
    width: 100%;
    min-height: 210px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
    /* transition: all 0.3s ease; */
}
.adventages-item-container:hover > .adventages-item-icon > svg path {
    padding-top: 50px;
    padding-bottom: 15px;
    width: 35px;
    height: 35px;
    fill: #fff;
}
.adventages-row-container:hover > .adventages-item-icon > svg path {
    padding-top: 50px;
    padding-bottom: 15px;
    width: 35px;
    height: 35px;
    fill: #fff;
}
.adventages-item-container:hover > .adventages-item-icon > .adventages-item-title {
    color: #fff;
    margin: 0;
}
.adventages-row-container:hover > .adventages-item-icon > .adventages-item-title {
    color: #fff;
    margin: 0;
} 
.adventages-item-container:hover > .adventages-item-icon > .adventages-item-desc {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}
.adventages-row-container:hover > .adventages-item-icon > .adventages-item-desc {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}
.adventages-item-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #222;
    white-space: nowrap;
    padding: 15px 0 10px;
    margin: 0;
    box-sizing: border-box;
}
.adventages-item-desc {
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #222;
    margin: 0;
    padding: 0 12px;
    box-sizing: border-box;
}
.all-services {
    background: #4f8ff0;
    border: 2px solid #4f8ff0;
    padding: 16px 24px;
    max-width: 138px;
    max-height: 49px;
    white-space: nowrap;
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}
.all-services:hover {
    background-color: #fff;
    border: 1px solid #4f8ff0;
    color: #4f8ff0;
    transition: all 0.3s ease-in-out;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    background-color: #fff;
    gap: 64px;
    margin: 0;
    padding: 76px 304px 76px 297px;
    box-sizing: border-box;
}
.box-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1338px;
    width: 100%;
    min-height: 424px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.box-row-title {
    margin: 0;
    padding: 0;
}
.box-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    color: #222;
    max-width: 692px;
    width: 100%;
    max-height: 42px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.first-row {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin: 0;
    padding: 0;
}
.box-title a {
    font-weight: 900;
    color: #4f8ff0;
    text-decoration: none;
    cursor: pointer;
}
.box-row-desc {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 24px 0 32px;
    box-sizing: border-box;
    gap: 32px;
}
.box-desc {
    font-size: 16px;
    line-height: 150%;
    color: #222;
    max-width: 720px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.links {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}
.link-item {
    max-width: 210px;
    width: 100%;
    max-height: 49px;
    height: 100%;
    border: 2px solid #4f8ff0;
    padding: 16px 24px;
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #4f8ff0;
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-item:hover {
    background-color: #fff;
    border: 1px solid #4f8ff0;
    color: #4f8ff0;
    transition: all 0.3s ease-in-out;
}
.link-row {
    max-width: 161px;
    max-height: 49px;
    text-decoration: none;
    border: 2px solid #e6e6e6;
    padding: 16px 24px;
    box-sizing: border-box;
    background: #e6e6e6;
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-row:hover {
    background: #fff;
    border: 2px solid #e6e6e6;
    color: #000;
    transition: all 0.3s ease-in-out;
}
.box-item {
    max-width: 535px;
    width: 100%;
    min-height: 359px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.box-item-image {
    max-height: 535px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;
    min-height: 739px;
    height: 100%;
    margin: 0;
    padding: 80px 300px;
    box-sizing: border-box;
    gap: 48px;
}
.wrapper-item {
    max-width: 920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}
.wrapper-item-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    color: #222;
    padding: 0;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin: 0;
}
 .wrapper-item-text {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #222;
    max-width: 920px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    box-sizing: border-box;
 }
 .wrapper-item-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    margin: 0;
    padding: 0;
}
 .wrapper-desc-box {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 312px;
    width: 100%;
    min-height: 414px;
    height: 100%;
    box-sizing: border-box;
}
  .wrapper-item-desc {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    max-width: 312px;
    width: 100%;
    min-height: 414px;
    height: 100%;
    box-shadow: 2px 2px 12px 0 rgba(33, 33, 33, 0.12);
    background: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .wrapper-row-desc {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 312px;
    width: 100%;
    min-height: 414px;
    height: 100%;
    margin: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
 }
 .wrapper-row-block {
    position: absolute;
    top: 20px;
    left: 20px;
    background: url(../images/Group-5.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    max-width: 265px;
    width: 100%;
    min-height: 374px;
    height: 100%;
    padding: 63px 0 64px 0;
    box-sizing: border-box;
    margin: 0;
 }
 .wrapper-row-desc:hover {
    opacity: 1;
    background: #fff;
    transition: all  0.3s ease-out;
 }
 .img-item {
    max-width: 312px;
    width: 100%;
    min-height: 320px;
    height: 100%;
    flex-shrink: 0;
 }
 .name-row {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #222;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    white-space: nowrap;
 }
 .law-row {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #222;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .text-row-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #000;
    padding: 40px 0;
    box-sizing: border-box;
    margin: 0;
    max-width: 265px;
    width: 100%;
 }
 .row-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #222;
    padding: 0 16px;
    box-sizing: border-box;
    margin: 0;
 }
 .img-item {
    max-width: 312px;
    width: 100%;
    max-height: 320px;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .name-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #222;
    margin: 0;
    padding: 24px 16px 10px;
    box-sizing: border-box;
 }
 .text-item-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    text-transform: lowercase;
    text-align: center;
    color: #222;
    margin: 0;
    padding: 0 16px 24px;
    box-sizing: border-box;
 }
 .wrapper-box {
    background: url(../images/1.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
    min-height: 588px;
    height: 100%;
    margin: 0;
    padding: 80px 300px;
    box-sizing: border-box;
 }
 .block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1320px;
    width: 100%;
    margin: 0;
    padding: 0;
 }
 .block-row {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
 }
 .block-row-line {
    padding: 0;
    margin: 0;
 }
 .block-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    color: #222;
    margin: 0;
    padding-bottom: 10px;
 }
 .icon-row {
    max-width: 70px;
    height: 100%;
    max-height: 29px;
    height: 100%;
 }
  .wrapper-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 48px 0 32px;
    box-sizing: border-box;
    margin: 0;
 }
 .wrapper-desc-block {
    display: flex;
    flex-direction: column;
    max-width: 648px;
    min-height: 244px;
    padding: 32px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 rgba(33, 33, 33, 0.15);
    background: #fff;
    margin: 0;
    gap: 16px;
 }
 .wrapper-box-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 24px;
 }
 .block-item {
    display: flex;
    flex-direction: column;
    max-width: 401px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .company-box {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: #222;
    margin: 0;
 }
 .title-box{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #222;
    margin: 0;
    white-space: nowrap;
 }
 .wrapper-box-row {
    font-size: 14px;
    line-height: 150%;
    color: #222;
    margin: 0;
    padding: 0;
 }
 .block-link {
    display: flex;
    font-weight: 900;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    gap: 24px;
    margin: 0;
    padding: 0;
 }
 .link-1 {
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #4f8ff0;
    border: 2px solid #4f8ff0;
    text-decoration: none;
    padding: 16px 24px;
    max-width: 146px;
    width: 100%;
    max-height: 49px;
    height: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
 }
 .link-1:hover {
    border: 2px solid #4f8ff0;
    background: #fff;
    color: #4f8ff0;
    transition: all 0.3s ease-in-out;
 }
 .link-2 {
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    border: 2px solid #e6e6e6;
    padding: 16px 24px;
    max-width: 185px;
    width: 100%;
    max-height: 49px;
    height: 100%;
    background: #e6e6e6;
    text-decoration: none;
    box-sizing: border-box; 
    white-space: nowrap;
    display: flex;
 }
 .link-2:hover {
     border: 2px solid #e6e6e6;
     background: #fff;
     transition: all 0.3s ease-in-out;
 }
 .section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    margin: 0;
    padding: 80px 0;
    box-sizing: border-box;
 }
 .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
 }
 .section-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    color: #222;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
 }
 .section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #222;
    max-width: 920px;
    margin: 0;
    padding: 24px 0 48px;
 }
 .section-row {
    display: flex;
    justify-content: space-between;
    gap: 24px;
 }
 .section-item {
    max-width: 424px;
    width: 100%;
    min-height: 481px;
    padding: 0;
    padding-bottom: 48px;
    margin: 0;
 }
 .image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
 }
 .section-item-img {
    display: block;
    max-width: 424px;
    max-height: 270px;
    z-index: 1;
    margin: 0;
    padding: 0;
 }
 .layer {
    transition: all 0.3s ease-in-out;
    opacity: 0;
 }
 .image-container:hover .layer {
    opacity: 1;
    cursor: pointer;
 }
 .image-container .section-item-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 424px;
    width: 100%;
    min-height: 270px;
    height: 100%;
    background: rgba(79, 143, 240, 0.4);
    opacity: 0;
    z-index: 2;
 }
 .image-container > .section-item-border {
    position: absolute;
    top: 20px;
    left: 20px;
    background: url(../images/Hover-border.png);
    background-repeat: no-repeat;
    opacity: 0;
    max-width: 372px;
    width: 100%;
    max-height: 230px;
    height: 100%;
    z-index: 3;
 }
 .image-container > .section-item-line {
    position: absolute;
    top: 115px;
    left: 191.42px;
    max-width: 41px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    background: #fff;
    opacity: 0;
    z-index: 4;
 }
 .image-container .section-item-eye {
    position: absolute;
    top: 125px;
    left: 201.71px;
    background: url(../images/show.png);
    background-repeat: no-repeat;
    max-width: 20.58px;
    width: 100%;
    max-height: 20px;
    height: 100%;
    opacity: 0;
    z-index: 5;
 }
 .section-item-title {
    margin: 0;
    padding: 24.5px 0 16px;
 }
 .section-item-title a {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #222;
    text-decoration: none;
    margin: 0;
 }
 .section-item-title:hover a {
    color: #4f8ff0;
    cursor: pointer;
 }
 .section-item-data {
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
    color: #222;
    margin: 0;
 }
 .section-item-text {
    font-size: 14px;
    line-height: 120%;
    color: #222;
    margin: 0;
    padding: 16px 0 24.5px;
 }
 .section-link {
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: #4f8ff0;
    border: 2px solid #4f8ff0;
    padding: 16px 24px;
    max-width: 153px;
    max-height: 49px;
 }
.section-link:hover {
    color: #4f8ff0;
    background-color: #fff;
    transition: all 0.3s ease;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1920px;
    width: 100%;
    min-height: 535px;
    height: 100%;
    margin: 0;
    padding: 80px 301px 16px 299px;
    background: #222;
    box-sizing: border-box;
}
.footer-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 48px;
    box-sizing: border-box;
    margin: 0;
    gap: 16px;
}
.title-row {
    font-weight: 900;
    font-size: 28px;
    line-height: 150%;
    text-transform: uppercase;
    color: #4f8ff0;
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 0;
}
.footer__title {
    font-weight: 900;
    font-size: 20px;
    line-height: 150%;
    text-transform: lowercase;
    color: #fff;
    margin: 0;
    padding: 0;
}
.footer__text {
    font-size: 16px;
    line-height: 120%;
    text-transform: lowercase;
    color: #f8f5f4;
    max-width: 862px;
    width: 100%;
    padding: 12px 0;
    margin: 0;
    box-sizing: border-box;
}
.footer-line {
    border: 1px solid #8c8c8c;
    width: 1320px;
    height: 0px;
    opacity: 0.2;
}
.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: f;
    gap: 16px;
    padding: 48px 0 80px;
    min-height: 345px;
    margin: 0;
    box-sizing: border-box;
    
}
.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 419px;
    width: 100%;
    min-height: 213px;
    height: 100%;
    gap: 24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact__col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    max-width: 419px;
    max-height: 55px;
    height: 100%;
    padding: 0;
    margin: 0;
}
.icon__contacts {
    max-width: 55px;
    width: 100%;
    max-height: 55px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.icon__contacts--row {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    max-height: 55px;
}
.icon__contactss-img--row {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 55px;
    width: 100%;
    max-height: 55px;
    height: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 0;
}
.icon__contacts-img--item {
    position: absolute;
    top: 12px;
    left: 12px;
    margin: 0;
}
.contacts-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    max-height: 55px;
    margin: 0;
    padding: 8.5px 0;
    padding-right: 64px;
    box-sizing: border-box;
}
.footer-service-text {
    max-width: 424px;
}
.contact--item {
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    color: #8c8c8c;
    text-align: left;
    margin: 0;
    padding: 0;
}
.contact--text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
    text-decoration: none;
}
.footer__nav{
    max-width: 312px;
    width: 100%;
    max-height: 182px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.nav-sevices {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer__nav {
    /* display: flex;
    flex-direction: column;
    justify-content: baseline; */
    margin: 0;
    padding: 0;
}
.nav-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin: 0;
    padding: 0;
}
.nav-sevices a {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    list-style: none;
}
.nav-sevices:hover {
    color: #4f8ff0;
    cursor: pointer;
}
.footer__service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 424px;
    width: 100%;
    min-height: 217px;
    margin: 0;
    padding: 0;
}
.footer-service-item {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}
.footer-service-img {
    max-width: 65px;
    max-height: 65px;
    display: flex;
    flex-shrink: 0;
}
.footer-service-box {
    display: flex;
    flex-direction: column;
    padding: 7px 0 24px;
    min-height: 65px;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
.footer-box-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
    box-sizing: border-box;
}
.footer-box-law {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
}
.footer-service-text {
    font-size: 14px;
    line-height: 150%;
    color: #fff;
    min-height: 63px;
    margin: 0;
    padding-bottom: 24px;
    box-sizing: border-box;
}
.btn-service {
    border: 2px solid #4f8ff0;
    padding: 16px 24px;
    max-width: 241px;
    max-height: 49px;
    background: #4f8ff0;
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.btn-service:hover {
    color: #4f8ff0;
    background: #fff;
}
.footer-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #181818;
    max-width: 1920px;
    min-height: 49px;
    margin: 0;
    padding: 0 300px;
    box-sizing: border-box;
}
.footer-end-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.law__save,
.law__politic {
font-size: 14px;
line-height: 120%;
color: #fff;
}
@media (max-width:1600px) {
    .header {
        width: 100%;
        min-height: 100%;
        background-size: cover;
        background-position: 50% 50%;
    }
    .header .container {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .contacts {
        width: 100%;
        height: 100%;
        /* justify-content: space-between; */
        margin: 0;
        padding: 0 10%;
        box-sizing: border-box;
    }
    .company {
        flex-wrap: wrap;
        padding: 2% 10%;
        box-sizing: border-box;
    }
    .services {
        padding: 2%;
        gap: 1%;
    }
    .services-item-row {
        font-size: 24px;
    }
    .services span {
        font-size: 48px;
    }
    .text-item {
        font-size: 18px;
    }
    .menu-row {
        max-width: 679px;
        flex-wrap: wrap;
    }
    .icons {
        padding: 0 12%;
        box-sizing: border-box;
    }
    .adventages {
        padding: 0 2%;
        box-sizing: border-box;
    }
    .box {
        width: 100%;
        padding: 5%;
        box-sizing: border-box;
    }
    .wrapper {
        padding: 0 1%;
        box-sizing: border-box;
        margin: 0;
    }
    .wrapper-box {
        margin: 0;
        padding: 0 2%;
        box-sizing: border-box;
    }
    .section {
        padding: 5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer {
        margin: 0;
        padding: 2% 4%;
        width: 100%;
        box-sizing: border-box;
    }
    .footer-end {
        display: flex;
        justify-content: space-evenly;
        gap: 24px;
        margin: 0;
        padding: 0 4%;
        white-space: nowrap;
    }
    .law__save,
    .law__politic {
        margin: 0;
        padding: 0;
    }
} 

@media (max-width: 768px) {
    .header {
        width: 100%;
        min-height: 581px;
        background-position: 50% 50%;
        background-size: cover;
    }
     .container {
        width: 100%;
        min-height: 100%;
        /* background-size: cover;
        background-position: 50% 50%; */
        /* padding: 0; 
        margin: 0;
        box-sizing: border-box; */
    }
    .contacts {
        min-height: 50px;
        padding: 0 69px;
        box-sizing: border-box;
    }
    .company {
        width: 100%;
        max-height: 84px;
        padding: 0 69px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        box-sizing: border-box;
    }
    .header-row {
        margin: 0;
        padding: 0;
    }
    .law {
        font-size: 22px;
        margin: 0;
        padding: 0;
        max-height: 33px;
    }
    .law-comp {
        font-size: 16px;
        margin: 0;
        padding: 0;
        max-height: 24px;
    }
    .company .menu {
        display: none;
    }
    .services {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 8px;
        padding: 66px 69px 0;
        min-height: 297px;
        height: 100%;
        box-sizing: border-box;
    }
    .services-item-row {
        font-size: 24px;
        margin: 0;
    }
    .services-item-row span {
        font-size: 50px;
        margin: 0;
    }
    .text-item {
        font-size: 18px;
        max-width: 696px;
        width: 100%;
        max-height: 66px;
        text-align: center;
        margin: 0;
        margin-bottom: 38px;
        box-sizing: border-box;
    }
    .service-row {
        min-width: 96px;
        width: 100%;
        min-height: 49px;
        /* white-space: nowrap; */
        margin: 0;
        padding: 0;
    }
    .icons {
        padding: 36px 69px 24px;
        box-sizing: border-box;
        margin: 0;
    }
    .main .container-row {
        display: flex;
        flex-wrap: wrap;
        max-width: 696px;
        width: 100%;
        padding: 60px 69px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .container-row .services-item {
        max-width: 696px;
        width: 100%;
        min-height: 130px;
        margin: 0;
        padding: 0;
    }
    .servises-item-title {
        font-size: 24px;
    }
    .servises-item-desc {
        padding: 0;
        padding-top: 24px;
        box-sizing: border-box;
    }
    .adventages {
        max-width: 696px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
    }
    .adventages-item {
        max-width: 696px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        box-sizing: border-box;
    }
    .adventages-item-container,
    .adventages-row-container  {
        max-width: 336px;
        width: 100%;
    }
    .adventages-row-container {
        max-width: 336px;
        width: 100%;
    }
    .adventages-item-container:hover.adventages-item-icon {
        max-width: 272px;
        width: 100%;
        background-size: cover;
    }
    .adventages-row-container:hover.adventages-item-icon {
        max-width: 272px;
        width: 100%;
        background-size: cover;
    }
    .adventages-item-title {
        font-size: 20px;
    }
    .adventages-item-desc {
        font-size: 14px;
    }
    .adventages-item-container:hover .adventages-item-title {
        font-size: 20px;
    }
    .adventages-item-container:hover .adventages-item-desc {
        font-size: 14px;
    }
    .adventages-row-container:hover .adventages-item-title {
        font-size: 20px;
    }
    .adventages-row-container:hover .adventages-item-desc {
        font-size: 14px;
    }
    .box-title {
        font-size: 24px;
    }
    .box-item {
        display: none;
    }
    .main .wrapper {
        max-width: 696px;
        width: 100%;
        padding: 60px 0 60px 69px;
        box-sizing: border-box;
        margin: 0;
        overflow: auto;
    }
    .wrapper .wrapper-item {
        max-width: 696px;
        width: 100%;
        min-height: 130px;
        margin: 0 auto;
        padding: 0 69px;
    }
    .wrapper-item-title {
        font-size: 24px;
    }
    .wrapper-item-text {
        font-size: 16px;
        text-align: center;
    }
    .wrapper-item-box {
        margin: 0;
        padding: 0;
        height: 100%;
        gap: 24px;
    }
    .wrapper-desc-box {
        max-width: 300px;
        width: 100%;
    }
    .img-item {
        min-width: 300px;
        width: 100%;
        min-height: 320px;
        height: 100%;
    }
    .name-item {
        font-size: 16px;
    }
    .law-row {
        font-size: 14px;
    }
    .wrapper-box {
        overflow: auto;
        padding: 60px 69px;
        box-sizing: border-box;
    }
    .block-title {
        font-size: 24px;
    }
    .section {
        min-width: 696px;
        width: 100%;
        padding: 60px 70px;
        margin: 0 ;
        box-sizing: border-box;
        overflow: auto;
    }
    .section-row {
        min-width: 696px;
        width: 100%;
        display: flex;
        align-items: flex-end;
    }
    .section .section-container {
        max-width: 696px;
        width: 100%;
    }
    /* .section-item {
        max-width: 336px;
        width: 100%;
        min-height: 481px;
        padding-bottom: 48px;
        box-sizing: border-box;
    } */
    .image-container {
        max-width: 336px;
        width: 100%;
        min-height: 270px;
    }
    .section-title {
        font-size: 24px;
    }
    .footer {
        min-height: 468px;
        height: 100%;
        padding: 60px 69px 0 70px;
        margin: 0;
        box-sizing: border-box;
    }
    .footer__text {
        display: none;
    }
    .footer__nav {
        display: none;
    }
    .footer-end {
        margin: 0;
        padding: 16px 69px 16px 70px;
        box-sizing: border-box;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .header {
       min-width: 100%;
       background-size: cover;
       background-position: 50% 50%;
       background-repeat: no-repeat;
    }
    .container {
        min-width: 100%;
    }
    .contacts {
        padding: 17px 24px 18px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }
    .email-to {
        display: none;
    }
    .company {
        padding: 16px 101px 19px 24px;
        box-sizing: border-box;
    }

}